body{
    
    background-color: black;
    overflow: hidden;
    height: 100vh;
    position: relative;
    background: url('../img/BG_HD.jpg') repeat  center;
    /* background-repeat: repeat; */
}
.enter-site {
    width: 60%;
}
.big-title {
    font-family: 'Signika', sans-serif;
    font-weight: 800;
    font-size: 60pt;
}
.all-container {
    position: absolute;
    left: 50%;
    TOP: 50%;
    transform: translate(-50%, -50%);
}
.big-title {
    color: white;
}


@media  (min-width: 992px) {
    .big-title {
        font-size: 136pt;
        
    }
    .enter-site {
        width: 57%;
    }
}