@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
    font-family: More Gothic;
    src: url('public/fonts/moregothic-bold-web.ttf');
}

body {
    font-family: Roboto;
}

h1 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 129%;
    margin-bottom: 2rem;
}

h4 {
    font-size: 120%;
    margin-bottom: 2rem;
}

h5 {
    color: #e2372e;
    font-weight: bold;
}

h6 {
    font-weight: bold;
}

p {
    line-height: 2rem;
}

@media (max-width: 575.98px) {
    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

/* Footer */

footer {
    background-color: black;
}

/* Homepage */

#blackSection {
    background-color: black;
}

.blackSectionText {
    color: white;
}

#grabTicketBtn {
    background-color: #E2372E;
    border: none;
}

#grabTicketBtn:hover {
    opacity: 0.6;
    transition: 0.3s;
}

#homepage {
    background-color: white;
    padding-bottom: 3rem;
}

#imagineFutureText {
    font-size: 2rem;
    color: white;
}

.time {
    background-color: white;
    color: black;
    padding: 45px 0px 45px 0px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 150%;
}

#readFurtherText {
    font-family: Roboto;
    font-weight: bold;
    font-size: 1rem;
}

@media (max-width: 575.98px) {
    #blackSection {
        text-align: center;
    }

    #imagineFutureText {
        font-size: 1rem;
    }
}
    

/* About Page */

#about-page {
    background: black;
    text-align: center;
}

.title-about {
    color: white;
    text-shadow: -1px 0 #e2372e, 0 1px #e2372e, 1px 0 #e2372e, 0 -1px #e2372e;
    font-weight: 800;
    font-family: More Gothic;
    font-size: 3rem;
    padding-top: 3rem;
}
.content-about {
    color: white;
    font-family: Roboto;
    font-size: .9rem;
    padding: 0 5rem 0 5rem;
    margin: 0;
}

@media (max-width: 575.98px) {
    .title-about {
        font-size: 200%;
    }

    .content-about {
        padding: 0 1rem 0 1rem;
    }
}
